BETTER_AUTH_SECRET=your_better_auth_secret
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL=libsql://database_name.region.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token

STRIPE_SECRET_KEY=your_stripe_secret
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

NEXT_PUBLIC_BASE_URL=http://localhost:3000